<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <title>Dashboard</title>
  </head>
  <body>
    <form id="form">
      <input type="text" id="title" name="title" placeholder="title" />
      <input type="text" id="make" name="make" placeholder="make" />
      <input type="text" id="model" name="model" placeholder="model" />
      <input type="text" id="year" name="year" placeholder="year" />
      <button id="button" type="submit">Submit</button>
    </form>
  </body>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      document.getElementById('button').addEventListener('click', handleForm)
    })

    function handleForm(e) {
      e.preventDefault()

      const title = document.querySelector('#title').value
      const make = document.querySelector('#make').value
      const model = document.querySelector('#model').value
      const year = document.querySelector('#year').value

      const product = {
        title: title,
        make: make,
        model: model,
        year: year,
      }

      const newProduct = JSON.stringify(product)

      console.log(newProduct)
    }
  </script>
</html>
